
<div class="row">
    <div *ngFor="let item of listaAlumnos" class="card col-md-3 col-xl-3">
        <div class="bg-image hover-overlay" mdbRipple rippleColor="light">
          <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" width = "250" height = "250" class="img-fluid text-center"/> <!--  width = "300" height = "300" -->
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </a>
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ item.nombres + ' ' + item.apellidos}}</h5>
          <p class="card-text"><b> Código Alumno : </b> {{ item.codigoAlumno }}</p>
          <p class="card-text"><b> Ciclo : </b> {{ item.ciclo }}</p>
          <a href="#!"  [ngClass]="item.estado == 'APROBADO' ? 'btn btn-primary' : 'btn btn-danger'">{{item.estado}}</a>
        </div>
    </div>
</div>
